<div class="container-fluid">
  <div class="row">
    <div class="col-7" style="background-color: blue;">
      <h1>
        Welcome To Transaction Tracker
      </h1>
      <p>
        Your first step starts here.
      </p>
    </div>
    <div class="col-5" style="background-color: red;">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-primary">Login</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-outline-secondary">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>