<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h2> Transaction Categorizer</h2>
      </div>
      <div class="card card-body text-center">
        <p> <%= transaction_description %> </p>
      </div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Transaction Category</option>
        <option value="1">Food and Drink</option>
        <option value="2">Groceries</option>
        <option value="3">Phone</option>
      </select>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
  </div>